extends layout

block content
  .container

    #waiting
      p.lead That's all for now!

      p Users will call you if they accept you back. You can go back over anybody you skipped or find people who just joined the queue by clicking "Refresh". If you don't want to wait, you can edit your query.

      br
      a.btn.btn-info.pull-left(href="/exitQueue") &laquo; Modify Search
      a.btn.btn-primary.pull-right(href="/") Search Again 
        i.glyphicon.glyphicon-refresh

    #user.hidden
      p.lead Let's find your perfect workout partner!

      h3 How about 
        span#name
        span ?
      div#profile-image-wrapper
        img#profile-image
      .row.info-table
        .col-xs-6
          b Gender: 
          span#gender
        .col-xs-6
          b Experience: 
          span#experience
        .col-xs-6
          b Activity: 
          span#workoutType
        .col-xs-6
          b Time: 
          span#workoutTime
      br
      a.btn.btn-default.pull-left(href="/exitQueue") &laquo; Back
      .btn-group.pull-right
        button.btn.btn-danger#reject.btn Reject
        button.btn.btn-info#skip.btn Skip
        button.btn.btn-success#accept.btn Accept

    script var users = !{JSON.stringify(users)};
    script(src="/javascripts/browse.js", type="text/javascript")
