extends layout

block content
  .container
    p.lead Let's find your perfect workout partner!

    - if(users.length > 0)
      #user
        h3 How about 
          span#name
        div#profile-image-wrapper
          img#profile-image
      .btn-group.pull-right
        button.btn.btn-danger#reject.btn Reject
        button.btn.btn-info#skip.btn Skip
        button.btn.btn-success#accept.btn Accept
    - else
      p.lead#waiting Please wait...

    a.btn.btn-info.pull-left(href="/exitQueue") Stop searching

    script var users = !{JSON.stringify(users)};
    script(src="/javascripts/browse.js", type="text/javascript")
