extends layout

block content
  .container

    #waiting
      p.lead That's all for now!

      p Users will call you if they accept you back. You can go back over anybody you skipped or find people who just joined the queue by clicking "Refresh". If you don't want to wait, you can edit your query.

      br
      a.btn.btn-info.pull-left(href="/exitQueue")
        i.glyphicon.glyphicon-backward&nbsp;
        span Cancel/Modify Search
      a.btn.btn-primary.pull-right(href="/") Search Again 
        i.glyphicon.glyphicon-refresh

    #user.hidden
      p.lead Let's find your perfect workout partner!

      h3 How about 
        span#name
        span ?
      div#profile-image-wrapper
        img#profile-image
      table.info-table
        tr
          td
            b Gender: 
            span#gender
          td
            b Experience: 
            span#experience
        tr
          td
            b Activity: 
            span#workoutType
          td
            b Time: 
            span#workoutTime
      br
      a.btn.btn-default.pull-left(href="/exitQueue")
        i.glyphicon.glyphicon-backward&nbsp;
        span Back
      .btn-group.pull-right
        button.btn.btn-danger#reject.btn Reject
        button.btn.btn-info#skip.btn Skip
        button.btn.btn-success#accept.btn Accept

    script var users = !{JSON.stringify(users)};
    script(src="/javascripts/browse.js", type="text/javascript")
