extends layout

block content
  .jumbotron
    .container
      h1= title
      h2= magic
      p
        | Find a workout buddy and gym in two minutes tops!
      p
        a.btn.btn-primary.btn-lg Sign Up
