extends layout

block content
  .jumbotron
    .container
      h1 
        | My Heart is in the
        b  Workout
      p
        | Find a workout buddy and gym in two minutes tops!
      p
        a.btn.btn-primary.btn-lg(href="/sign-up") Sign up now!
        a.btn.btn-info.btn-lg.pull-right(href="/login") Login
