extends layout

block content
  .container
    h2= nope
    .well.bs-component
      form.form-horizontal
        fieldset
          legend Login Into CMU Lifts
          .form-group
            label.col-lg-2.control-label(for='id') Andrew ID
            .col-lg-10
              input#inputEmail.form-control(type='text', placeholder='Andrew ID')
          .form-group
            label.col-lg-2.control-label(for='inputPassword') Password
            .col-lg-10
              input#inputPassword.form-control(type='password', placeholder='*********')
          .form-group
            .col-lg-10.col-lg-offset-2
              button.btn.btn-primary(type='submit') Log In!
