extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action "/loginuser" name = "login", method = "post")
    div.input
        span.label Login
        input(type = "text", name = "username")
    div input
        span.label Password
        input(type = "text", name = "password")
    div.actions
        input(type = "submit", value = "Login")
