extends layout

block content
  .container
    .well.bs-component
      form.form-horizontal(action='/login/', method='POST')
        fieldset
          legend Login Into CMU Lifts
          .form-group
            label.col-lg-2.control-label(for='userId') Andrew ID
            .col-lg-10
              input#inputEmail.form-control(name='userId', type='text', placeholder='Andrew ID')
          .form-group
            label.col-lg-2.control-label(for='inputPassword') Password
            .col-lg-10
              input#inputPassword.form-control(name='password', type='password', placeholder='*********')
          .form-group
            .col-lg-2.col-lg-offset-10.col-xs-4.col-xs-offset-8
              button.btn.btn-primary(type='submit') Log In!
