extends layout

block content
  .container
    .well.bs-component
      form.form-horizontal(method = "POST")
        fieldset
          legend My Account
          .form-group
            span#userId
            .col-lg-10
          .form-group
            label.col-lg-2.control-label(for='age') Age
            .col-lg-10
              input#inputPassword.form-control(name = "age", type='text', value=user.age)
          .form-group
            label.col-lg-2.control-label(for='gender') Gender
            .col-lg-10
              select#select.form-control(name="gender")
                option(selected=(user.gender === "Female")) Female
                option(selected=(user.gender === "Male")) Male
                option(selected=(user.gender === "Other")) Other
          .form-group
            label.col-lg-2.control-label(for='age') Phone Number
            .col-lg-10
              input#inputPassword.form-control(name = "phone", type='text', value=user.phone)
          .form-group
            .col-lg-2.col-lg-offset-10.col-xs-4.col-xs-offset-8
              button.btn.btn-primary(type='submit') Update Info
