extends layout

block content
  .jumbotron
    .container
      h1= title
      p
        | Find a workout buddy and gym in two minutes tops!
      p
        a.btn.btn-primary.btn-lg(href="/sign-up") Sign up now!
