extends layout

block content
  .container
    p.lead Hello, #{user['name']}. Let's get started.

    form.form-horizontal(action="/", method="POST")
      fieldset
        legend First, let's find out more who you're looking for!
        .form-group
          label.col-lg-2.control-label(for='partnerGender') Their gender
          .col-lg-10
            select#select.form-control(name="partnerGender", required)
              option(disabled selected) Select an option
              option(selected=(user.partnerGender === "Any")) Any
              option(selected=(user.partnerGender === "Female")) Female
              option(selected=(user.partnerGender === "Male")) Male
              option(selected=(user.partnerGender === "Other")) Other
        legend Now, more about you.
        .form-group
          label.col-lg-2.control-label(for='experience') How experienced are you?
          .col-lg-10
            select#select.form-control(name="experience", required)
              option(disabled selected) Select an option
              option(selected=(user.experience === "Beginner")) Beginner
              option(selected=(user.experience === "Intermediate")) Intermediate
              option(selected=(user.experience === "Expert")) Expert
        .form-group
          label.col-lg-2.control-label(for='workoutType') What kind of a workout are you looking for?
          .col-lg-10
            select#select.form-control(name="workoutType", required)
              option(disabled selected) Select an option
              option(selected=(user.workoutType === "Any")) Any
              option(selected=(user.workoutType === "Running")) Running
              option(selected=(user.workoutType === "Lifting")) Lifting
              option(selected=(user.workoutType === "Bicycling")) Bicycling
        .form-group
          label.col-lg-2.control-label(for='workoutTime') When do you want to workout?
          .col-lg-10
            select#select.form-control(name="workoutTime", required)
              option(disabled selected) Select an option
              option(selected=(user.workoutTime === "Now")) Now
              option(selected=(user.workoutTime === "In fifteen minutes")) In fifteen minutes
              option(selected=(user.workoutTime === "In half an hour")) In half an hour
              option(selected=(user.workoutTime === "In an hour")) In an hour
              option(selected=(user.workoutTime === "In a couple of hours")) In a couple of hours
        .form-group
          .col-lg-2.col-lg-offset-10.col-xs-5.col-xs-offset-7
            button.btn.btn-primary(type='submit') Find a partner!
